/* AddtodoComponent */
.AddTodo{
   height: 130px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   position: relative;
}
.Todoform{
    display: flex;
    border-radius: 5px;
    margin: 4px;
    width: 400px;
    height: 40px;
    border: 1px solid rgb(123, 122, 124);
}
.Addbutton{
    position: absolute;
    right: 0px;
    top: 40px;
    width: 60px;
    height: 35px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(64, 45, 206);
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);  
    text-align: center;
}
.Addbutton:hover{
    background-color: rgb(64, 45, 206);
    color: white;
}
.Nextlist{
    box-sizing: border-box;
    height: 40px;
    width:100px;
    border: 1px solid rgb(216, 123, 193);
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);  
    color: rgb(6, 6, 6);
    text-align: center;
}
.Nextlist:hover{
    background-color: rgb(216, 123, 193);
    color: white; 
}

.link{
    text-decoration:none;
    color: inherit;
}


/* TodoComponent */

.todos{
    height: 400px;
    overflow-y: scroll;
    background: rgb(245, 249, 246);
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
}
.NoTodos{
    align-items: center;   
   font-style:oblique;
   font-weight: 600;
   font-size: 17px;
   line-height: 17px;
   padding: 10px; 
}
.Todolist{
    position: relative;
   list-style: none;
   height: 60px;
   font-style:oblique;
   font-weight: 600;
   font-size: 17px;
   line-height: 17px;
   margin: 10px 0px;
   background-color: rgb(241, 244, 241);
}
.Todolist:nth-child(odd){
    background-color: rgb(234, 231, 233);
}
.headding{
    position: absolute;
    left: 5px;
    top: 2px;
    color: #0f0f0f;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: -0.27px;
    line-height: 22px;
}
.description{
    position: absolute;
    left: 5px;
    top: 30px;
    color: #767474;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.27px;
    line-height: 22px;
}
.checkbox{
    position: absolute;
    right: 80px; 
    top:20px
    
}
.deleteButton{
    position: absolute;
    top:10px;
    right: 3px;
    box-sizing: border-box;
    height: 30px;
    width:70px;
    border: 1px solid rgb(146, 123, 216);
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);  
    color: rgb(32, 30, 30);
    text-align: center;
}
.deleteButton:hover{
    background-color: rgb(216, 123, 193);
    color: white;
}

.clearButton{
    box-sizing: border-box;
    height: 40px;
    width:100px;
    border: 1px solid rgb(216, 123, 193);
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);  
    color: rgb(13, 14, 14);
    text-align: center;
    margin: 2px;
}
.clearButton:hover{
    background-color: rgb(216, 123, 193);
    color: white;
}


/*button  */
.buttonText{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.56px;
    line-height: 22px;
    text-align: center;
    text-shadow: 0 0 9px 0 #FFFFFF;
}

/* NextPage */


